.screen-game{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('../Imagens/Fundo/Facil/Sem_nuvem.png');
    background-size: 100% 100%;
}
.cloud{
    width: 100%;
    height: 30%;
    position: absolute;
    background-size: cover;
    background-image: url('../Imagens/Fundo/Nuvem_teste.png');
    background-repeat: repeat-x;
    animation: nuvem linear 40s infinite;
}
.cloud-1 {
    left: 0;
}

.cloud-2 {
    left: 100%;
}
.container-life{
    width: 100%;
    height: 40px;
    /* background-color: green; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.container-characters{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    /* background-color: red; */
}
.character{
    width: 130px;
    height: 130px;
    position: relative;
    top: 10px;
    background-size: 100% 100%;
    grid-column: 1;
    transition: top 0.3s;
    /* background-color: blue; */
}
.floor{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: brown;
}
@keyframes nuvem {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.screen-game-medium{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('../Imagens/Fundo/Medio/Sem_nuvem.png');
    background-size: 100% 100%;
}
.screen-game-hard{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('../Imagens/Fundo/Dificil/Sem_nuvem.png');
    background-size: 100% 100%;
}
.box-character{
    width: 220px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; 
    /* background-color: aqua; */
}
.container-btn-game{
    position: relative;
    right: 5px;
}
.jump {
    width: 90px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    grid-column: 1;
}
  
.jump:nth-child(1) {
    background-image: url('../Imagens/Botoes/Andar/3_pulos_nao_ativo_teste.png');
    background-size: 100% 100%;
}
.jump:nth-child(2) {
    background-image: url('../Imagens/Botoes/Andar/2_pulo_teste.png');
    background-size: 100% 100%;
}
.jump:nth-child(3) {
    background-image: url('../Imagens/Botoes/Andar/1_pulo_teste.png');
    background-size: 100% 100%;
}
.jump:nth-child(1):active{
    transform: scale(0.9);
}
.jump:nth-child(2):active{
    transform: scale(0.9);
}
.jump:nth-child(3):active{
    transform: scale(0.9);
}